<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nervousapps.pwidgetfm_kotlin"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WidgetControlPanl"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="nervousapps.pwidgetfm_kotlin.MusicService" />

        <receiver android:name=".PWidgetFM" >
            <intent-filter >
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE"
                    android:action="android.intent.action.ACTION_IGNORE_BATTERY_OPTIMIZATION_SETTINGS"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pwidget_fm_info" />
        </receiver>

        <provider android:name=".PlugReceiver"
            android:authorities="plugreceiver.provider.authority.pwidgetfm"/>

    </application>
</manifest>
